.container {
  width: 600px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

#remove {
  cursor: pointer;
  color: red;
}

#remove:hover {
  font-weight: bold;
}

.complete {
  text-decoration: line-through;
  opacity: 0.7;
}

#name {
  width: 300px;
  border-radius: 3px;
}

#todo-form {
  text-align: center;
}

.todo-group {
  margin-left: 110px;
}

.todo-item {
  display: inline-block;
}

#todos {
  list-style: none;
  padding-left: 20px;
}